<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-3 col-xs-5" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button class="btn btn-danger float-right my-2 my-sm-0"(click)="OnLogout()">Logout</button>
  </nav>
  <nav class="navbar navbar-light bg-white">
    <form class="form-inline">
      <label class="form-control mr-sm-3 col-xs-4">Horror</label>
    </form>
    <form class="form-inline">
      <label class="form-control mr-sm-3 col-xs-4">Adventure</label>
    </form>
    <form class="form-inline">
      <label class="form-control mr-sm-3 col-xs-4">Puzzle</label>
    </form>
  </nav>